/prj_ED_ProjectoFinal/target/
/ProyectoEstrucuraDatos/nbproject/private/
/ProyectoEstrucuraDatos/build/
/ProyectoEstructuraDeDatosFinal/nbproject/private/
/ProyectoEstructuraDeDatosFinal/build/
/ProyectoEstructuraDeDatosFinal/dist/
/Semana11_ClienteServidor/nbproject/private/
/Semana11_ClienteServidor/build/
/Semana11_ClienteServidor/dist/
/Semana11_ClienteSevidorS_Servidor/nbproject/private/
/Semana11_EstructuraDatos_Arboles/nbproject/private/
/Semana11_EstructuraDatos_Arboles/build/
/Semana12_EstruturaDatos/nbproject/private/
